<nav
  class="navbar navbar-expand-lg navbar-light bg-light navbar_container fixed-top py-3"
>
  <div class="container">
    <a class="navbar-brand" href="#home"><h1>Stride.</h1></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="bi bi-list menu_bar"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#business">For Businesses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#features">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#partners">For Partners</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#vision">Vision</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#join">Join Us</a>
        </li>
      </ul>
      <div class="d-flex">
        <a href="#join">
          <button class="btn btn-light fw-bold rounded">
            Apply for Founding Access
          </button>
        </a>
      </div>
    </div>
  </div>
</nav>
